.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  width: 60px;
  height: 60px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  margin: 5px;
  place-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 30px;
}
h3 {
  border: 2px solid black;
  padding: 10px;
  place-items: center;
  place-content: center;
  border-radius: 50px;
  font-size: 24px;
}

.play-again {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 24px;
}
